

<p>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapseWidthExample" aria-expanded="false"
        aria-controls="collapseWidthExample">
        ALUMNO
    </button>
</p>
<div style="min-height: 120px;">
    <div class="collapse collapse-horizontal" id="collapseWidthExample">
        <div class="card card-body" style="width: 300px;">
            
        </div>
    </div>
</div>
<!-- <button class="btn btn-primary" type="submit">  Alumno</button><br><br>
        <button class="btn btn-primary" type="submit"> Carrera</button><br><br>
        <button class="btn btn-primary" type="submit">   Año  </button><br><br>
        <button class="btn btn-primary" type="submit"> Materia</button><br><br>
        <button class="btn btn-primary" type="submit"> GitHub </button><br><br>
        <button class="btn btn-primary" type="submit">linkedIn</button><br><br> -->

<div class="jumbotron text-center">
    <h1>{{angular}}</h1>
    <p>probando herramientas</p>
</div>

<footer>

    <div class="container__footer">
        <div class="box__footer">
            <div class="logo">
                <img src="Images/logo-magtimus.png" alt>
            </div>

        </div>

        <div class="box__footer">
            <h4>Redes</h4>
            <ul>
                <li>
                    <a href="https://es-la.facebook.com/" target="_blank"> <i
                            class="fab fa-facebook-square"></i> Facebook</a>

                </li>
                <li>
                    <a href="https://ar.linkedin.com/" target="_blank"><i
                            class="fab fa-linkedin"></i> Linkedin</a>

                </li>
                <li>
                    <a href="https://www.instagram.com/" target="_blank"><i
                            class="fab fa-instagram-square"></i> Instagram</a>
                </li>

            </ul>

        </div>

    </div>

    <div class="box__copyright">
        <hr>
        <p>Todos los derechos reservados © 2023 <b>HS</b></p>
    </div>
</footer>